body,html{
    padding: 0;
    margin: 0;
    
}
.container{
    display: flex;
    background-color: plum;

}
.div1{
    width: 50%;
    text-align:left;
}

.div1 i{
    margin: 5px;
}
.div2{
    width: 50%;
    text-align: right;
   
}

.navbar{
    display: flex;
    align-items: center;
    background: lavender;
    height:50px;
}
.logo{
    width: 20%;
    float: left;
    margin-left: 50px;
}
.navbar .nav-items{
    display: flex;
    width: 50%;
    float: left;
    text-align: center;
    justify-content: center;
   
   
}
.nav-item{
    padding: 5px;
    list-style: none;
}
.nav-item .nav-link{
    text-decoration: none;
    color: black;
}
.nav-link:hover{
    background: #ccc;
    border: 10px;

}
#search{
    width: 50%;
    border-radius: 10px;
    background-color: #ccc;
    /* background: transparent; */
    outline: none;
    border: none;
    height: 30px;
    
}
#search::placeholder{
    text-align: center;
}
.login{
    width: 15%;
    float: left;
    text-align: right;
}
button{
    border-radius: 10px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.home{
    background-image: url(cover.jpeg);
    background-position: center;
    background-size: cover;
    width : 100%;
    height : 500px;
    display: flex;
    justify-content: center;
    
}
.homecontainer{
    margin: 0px 50px;

}
.homebox{
    align-items: center;
    background-color: rgba(234, 225, 225, 0.864);
    margin: 200px 20px;
    position: absolute;
    color: rgb(48, 1, 52);
    text-align: center;
    
}
.homebox h1{
    margin: 0;
    color: rgb(53, 3, 65);
    
}
.homebox #readmore{
    background-color: plum;
}

.homebox #requestandconsult{
    background-color: plum;
}

.homebox button{
    
    background: transparent;
    color:black;
}

#homehr{
    transform: rotate(90deg);
    margin-top: 200px;
    float: left; 
    width: 500px;
}
.menu{
    display: flex;
    justify-content:center;
    background-color: plum;
    width: 100%;
    height: 150px;
    color: rgb(30, 0, 45);
}
.menucontainer{
    margin-left: 50px;

}
.menuicons{
    display: flex;
}
.minu1{
    margin-top: 1px;
    display: flexbox;
    text-align: center;
    
    
}

.minu1 i{
    margin: 30px;
    vertical-align: middle;
}


.info{
    margin: 3px 50px;
    display: flex;
}
.info2 img{
    width: 50%;
}
.info h1{
    margin-bottom: 2px;
}
#btn{
    background-color: plum ;
    
}
.services{
    background-color: lavender;
    width: 100%;
    height: 450px;
}
.service{
    margin: 3px 50px;
}
.service h1{
    margin-bottom: 1px;
}
hr{
    background-color: antiquewhite;
    border-radius: 3px;
    border: none;
    float: left;
}

.images{
    display: flex;
    margin-top: 25px;
}
img{
    width: 90%;
    height: 50%;
}


.img2{
    width: 50%;
    height: 50%;
}
.img2 button{
    background-color: plum;
}

.footer{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 350px;

}
.footers{
    margin: 0px 50px;
    
}
.footers i{
    margin: 5px;
}
p a{
    color: black;
}
.footercontainer{
    display: flex;
    padding: 10px;
}
.fdiv1{
margin-left: 100px;
}
.copyright{
    text-align: center;
    margin-top: 0px;

} 